<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Quickie Mart Checkout</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
  </head>

  <body class="bg-light">

<div>Your Total is:<br>
	$<%= total %>
</div>
<div>You gave me:<br>
	$<%= payment %>
</div>
<div>Your Change is:<br>
<%
change = payment.to_f - total.to_f
%>
	$<%= change.round(2) %>
</div> 
</body>
</html>