<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Quickie Mart</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
  </head>

  <body>


    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Welcome to Quickie Mart!</h1>
      <p class="lead">Please select the items you wish to purchase:</p>
    </div>

    <div class="form-group">
<form method="post" action="item_choice">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Chips</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$1.50 <small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <img src="/img/chips-01.png">
              <li>Chips</li>

            </ul><br>
            <input type="hidden" name="chips" value="f" id="chips">
            <input type="checkbox" name="chips" value="t" id="chips" cclass="btn btn-lg btn-block btn-primary" value="Add to Cart">
            
          </div>
        </div>

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Candy</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$2.00 <small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <img src="/img/candy-01.png">
              <li>Candy</li>
            </ul><br>
            <input type="hidden" name="candy" value="f">
            <input type="checkbox" name="candy" value="t">
            
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Gum</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$1.00 <small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <img src="/img/gum-01.png">
              <li>Gum</li>
            </ul><br>
            <input type="hidden" name="gum" value="f">
            <input type="checkbox" name="gum" value="t">
          </div>
        </div>

<input type="submit" class="btn btn-primary btn-lg btn-block" value="Add to Cart">
        

      </div>

  </div>

</form>

  </body>
</html>