<!DOCTYPE html>
<style>

ul.items li {
    padding-right: 10%;
    width: auto;
    margin-right: 0.5%;
    display: inline-block;
    vertical-align: center;
    padding-left: 0;
    margin-left: 0;
    *display: inline;
    *zoom: 1;
}

</style>

<header> <center><img src="https://gator4234.hostgator.com:2083/cpsess7333725500/viewer/home4%2fcmazey96%2fclemdog.com%2fviewer/book_finder%20header-02-01.png" style="max-width:100%;height:auto;"></center> </header>

<body style="background-color:#ffe1a8;">
<center>
<div class="col-md-1"></div>


<div class="form-group">
    <div class="col-md-4">
        <form method="post" action="item_choice">

<ul class="items">
    
    <li>
        
            <img src="img//wsj-01.png">
            <h4>Newspaper</h4>
            <p>$1.50</p>
       
       <input type="radio" name="item_name" value="newspaper">
        <br><br>
    </li>

    <li>
        
            <img src="img//powerball-01.png">
            <h4>Powerball</h4>
            <p>$4.00</p>
        <input type="radio" name="item_name" value="lotto">
        <br><br>

    </li> 

    <li>   
            <img src="img//chips-01.png">
            <h4>Chips</h4>
            <p>$1.50</p>
        <input type="radio" name="item_name" value="chips">
        <br> <br>
       
    </li>

<br>
<br>
<br>

    <li>
        
            <img src="img//candy-01.png">
            <h4>Candy</h4>
            <p>$2.00</p>
        <input type="radio" name="item_name" value="candy">
        <br> <br>

    </li>
    


    <li>
        
            <img src="img//coke-01.png">
            <h4>Coke</h4>
            <p>$1.25</p>
               <input type="radio" name="item_name" value="soda">
        <br><br>

    </li>

    <li>
        
            <img src="img//gum-01.png">
            <h4>Gum</h4>
            <p>$1.00</p>
        <input type="radio" name="item_name" value="gum">
        <br>
       
    </li>
</ul>

</div>

<input type="submit" value="Order Now" class="btn btn-warning">
</form>
</center>
</body>
</html>